@model LiveTile.Models.MenuItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MenuItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActionName)
            @Html.ValidationMessageFor(model => model.ActionName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ControllerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ControllerName)
            @Html.ValidationMessageFor(model => model.ControllerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        @Html.Hidden("parentMenuId", Model.ParentMenu.Id);

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
